span{
    color:orange;
}

li li{
    color: blue;
}

li :nth-child(1){
    text-decoration: underline;
}

li:last-child{
    font-weight: bold;
}

[data-location=west]{
    font-size:30px;
}

li:not([data-location="center"]):first-letter{ 
  color:yellow;
}
}